.sidenav-container {
  height: 100vh;
}

.sidenav {
  width: 240px;
  overflow: hidden;
  background-color: #202020;
  color: white;
  transition: width 0.3s ease;
}

.sidenav.collapsed {
  width: 70px;
}

.sidenav button mat-icon {
  margin: 8px;
}

.sidenav .mat-list-item .text {
  transition: opacity 0.3s ease, visibility 0.3s ease;
  white-space: nowrap;
}

.sidenav.collapsed .mat-list-item .text {
  opacity: 0;
  visibility: hidden;
}

.sidenav.collapsed mat-icon {
  margin-right: 0;
}

.main-content {
  padding: 1rem;
}
